{% extends "_layouts/cp" %}

{% set title = "CacheMonster"|t %}

{% set content %}
<div id="no-caches"{% if caches %} class="hidden"{% endif %}>
	<p>{{ "There aren’t any template caches yet!"|t }}</p>
</div>

{% if caches|length %}

<form class="right" method="post">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="cacheMonster/deleteAllCaches">
	<input type="submit" name="submit" value="Clear All" class="btn submit">
</form>

<div class="clear"></div>

<hr>

<table id="caches" class="data fullwidth collapsible">
	<thead>
		<th scope="col">{{ "Path"|t }}</th>
		<th scope="col">{{ "Expiry Date"|t }}</th>
		<td class="thin"></td>
	</thead>
	<tbody>
		{% for cache in caches %}
		<tr data-id="{{ cache.id }}" data-name="{{ cache.getPath() }}">
			<th scope="row" data-title="{{ 'Path'|t }}"><a href="{{ cache.getPath() }}" target="_blank">{{ cache.getPath() }}</a></th>
			<td data-title="{{ 'Expiry Date'|t }}">{{ cache.expiryDate.uiTimestamp }}</td>
			<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% endset %}

{% set js %}
var adminTable = new Craft.AdminTable({
	tableSelector: '#caches',
	noObjectsSelector: '#no-caches',
	deleteAction: 'cacheMonster/deleteCache',
	confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
});
{% endset %}
{% includeJs js %}
